//- about.jade
extends ../layout

block content
	.row
		.large-12.columns
			h1 Myers-Briggs Type Indicator
			blockquote: small: a(http://en.wikipedia.org/wiki/Myers-Briggs_Type_Indicator) From Wikipedia, the free encyclopedia

			p. The Myers-Briggs Type Indicator (MBTI) assessment is a psychometric questionnaire designed to measure psychological preferences in how people perceive the world and make decisions.[1][2][3] These preferences were extrapolated by Katharine Cook Briggs and Isabel Briggs Myers from the typological theories proposed by Carl Gustav Jung, and first published in his 1921 book Psychological Types (English edition, 1923[4]). Jung theorized that there are four principal psychological functions by which we experience the world: sensation, intuition, feeling, and thinking.[5] One of these four functions is dominant most of the time.