//- preferences.jade

extends ../layout

block content
	.row
		.large-12.columns
			h1 Preferences	 

			p Your results from the MBTI&reg; instrument help you become aware of your personality preferences.

			p A preference is what you like. You may like, or prefer, peppermint candy over butterscotch. You may prefer reading over watching movies. This doesn’t mean you won’t sometimes choose, or be pressured to choose, butterscotch candy or movies. But in general, you will prefer to choose peppermint or reading.

			p There are no right or wrong preferences. Reading is not better than watching movies; each has its strengths and its problems. Most people have the ability to do both, even if they don’t like one or the other. Personality preferences, sometimes called psychological preferences, are like any other preferences.

			p Personality type is what you prefer when you are using your mind or focusing your attention. Studies and experience have shown that there are consistent patterns for each person. For example, one pair of preferences is about whether you choose to spend more time in the outside world or more time in your inner world. We call this a preference for Extraversion or Introversion. Neither is wrong. You can do both. You just prefer one.

			p There are many benefits to understanding your own preferences, including how they affect you, how they affect your style of communication, and how they are different from what other people prefer. Preferences allow us to have different interests, different ways of behaving, and different ways of seeing the world.

			p While all the preferences are equal, each has different strengths and different challenges. Knowing these personality strengths and challenges for yourself and others can help you understand and appreciate how everyone contributes to a situation, a task, or the solution to a problem.