//- index.jade

extends ../layout

block content
	.row
		.large-12.columns
			table
				tr
					td: a(href="/personalities/istj")
						h3 ISTJ
						p: small Quiet, serious, earn success by thouroughness and dependability. Practical, matter-of-fact, realistic, and responsible. Decide logically what should be done and work toward it steadily, regardless of distractions. Take pleasure in making everything orderly and organised.
					td: a(href="/personalities/isfj")
						h3 ISFJ
						p: small Quiet, friendly, responsible, and conscientious. Committed and steady in meeting their obligations. Thorough, painstaking, and accurate. Loyal, considerate, notice and remember specifics about people who are important to them, concerned with how others feel. Strive to create an orderly and harmonious environment at work and at home.
					td: a(href="/personalities/infj")
						h3 INFJ
						p: small Seek meaning and connection in ideas, relationships, and material possessions. Want to understand what motivates people and are insightful about others. Conscientious and committed to their firm values. Develop a clear vision about how best to serve the common good. Organised and decisive in implementing their vision.
					td: a(href="/personalities/intj")
						h3 INTJ
						p: small Have original minds and great drive for implementing their ideas and achieving their goals. Quickly see patterns in external events and develop long-range explanatory perspectives. When committed, organize a job and carry it through. Skeptical and independent, have high standards of competence and performance for themselves and other.
				tr
					td: a(href="/personalities/istp")
						h3 ISTP
						p: small Tolerant and flexible, quiet observers until a problem appears, then act quickly to find workable solutions. Analyse what makes things work and readily get through large amounts of data to isolate the core of practical problems. Interested in cause and effect, organise facts using logical principles, value efficientcy.
					td: a(href="/personalities/isfp")
						h3 ISFP
						p: small Quiet, friendly, sensitive, and kind. Enjoy the present moment. What's going around them. Like to have their own time frame. Loyal and committed to their values and to people who are important to them. Dislike disagreements and conflicts, do not force their opinions or values on others.
					td: a(href="/personalities/infp")
						h3 INFP
						p: small Idealistic, loyal tot their values and to people who are important to them. Want an external life that is congruent with their values. Curious, quick to see possibilities, can be catalysts for implementing ideas. Seek to undertand people and to help them fulfill their potential. Adaptable, felxible, and accepting unless a value is threatened.
					td: a(href="/personalities/intp")
						h3 INTP
						p: small Seek to develop logical explanantions for everything that interests them. Theoretical and abstract, interested more in ideas than in social interaction. Quiet, contained, flexible, and adaptable. Have unusual ability to focus in depth to solve problems in their area of interest. Skeptical, sometimes critical, always analytical.
				tr
					td: a(href="/personalities/estp")
						h3 ESTP
						p: small Flexible and tolerant, they take a pragmatic approach focused on immediate results. Theories and conceptual explanations bore them &mdash; they want to act energicallyto solve the problem. Focus on the here-and-now, spontaneous, enjoy each moment that they can be active with others. Enjoy material comforts and style. Learn best through doing.
					td: a(href="/personalities/esfp")
						h3 ESFP
						p: small Outgoing, friendly, and accepting. Exuberant lovers of life, people, and material comforts. Enjoy working with others to make things happen. Bring common sense and realistic approach to their work, and make work fun. Flexible and spontaneous, adapt readily to new people and environments. Learn best by trying a new skill with other people.
					td: a(href="/personalities/enfp")
						h3 ENFP
						p: small Warmly enthusiastic and imaginative. See life as full of possibilities. Make connections between events and information very quickly, and confidently proceed based on the atterns they see. Want a lot of affirmation from others, and readily give appreciation and support. Spontaneous and flexible, often rely on their ability to improvise and their verbal fluency.
					td: a(href="/personalities/entp")
						h3 ENTP
						p: small Quick, ingenious, stimulating, alert, and outspoken. Resourceful in solving new and challenging problems. Adept at generating conceptual possibilities and then analysing them strategically. Good at reading other people. Bored by routine, will seldom do the same thing the same way, apt to turn to one new interest after another. 
				tr
					td: a(href="/personalities/estj")
						h3 ESTJ
						p: small  Practical, realistic, matter-of-fact. Decisive, quickly move to implement decisions. Organise projects and people to get things done, focus on getting results in the most efficient way possible. Take care of routine details. Have a clear set of logical standards, systematically follow them and want others to also. Forcefull in implementing their plans.
					td: a(href="/personalities/esfj")
						h3 ESFJ
						p: small Warmhearted, conscientious, and cooperative. Want harmony in their environment, work with determination to establish it. Like to work with others to complete tasks accurately and on time. Loyal, follow through even in small matters. Notice what others need in their day-by-dayy lives and try to provide it. Want to be appreciated for who they are and for what they contribute.
					td: a(href="/personalities/enfj")
						h3 ENFJ
						p: small Warm, empathetic, responsive, and responsible. Highly attuned to the emotions, needs, and motivations of others. Find potential in everyone, want to help others fulfill their potential. May act as catalysts for individual and group growth. Loyal, responsive to praise and criticism. Sociable, facilitate others in a group, and provide inspiring leadership.
					td: a(href="/personalities/entj")
						h3 ENTJ
						p: small Frank, decisive, assume leadership readily. Quickly see illogical and inefficient procedures and policies, develop and implement comprehensive systems to solve organisational problems. Enjoy long-term planning and goal setting. Unusually well informed, well read, enjoy expending their knowledge and passing it on to others. Forceful in presenting their ideas. 

